<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @weblog.user_id %>
</p>

<p>
  <strong>Blog name:</strong>
  <%= @weblog.blog_name %>
</p>

<%= link_to 'Edit', edit_weblog_path(@weblog) %> |
<%= link_to 'Back', weblogs_path %>
